body{
    background-image: url("images/background.jpg");
    color:white;
    background-size: 1280px,600px;
    background-repeat: no-repeat;
}

.btn{
    margin-left:25px;
    border-radius: 4px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: rgb(0, 70, 128); 
    color: white;
}
